{% extends "base_loggedin.html" %}

{%block content %}
<div style="display: flex">
    <div style="margin-left: 5vw">
        <div style="border: 0px solid lightgrey; padding: 15px; box-shadow: 0px 10px 15px -4px lightgrey">
            <div>
            Add Category
                <form action="add_cat" method="post">
                    {% csrf_token %}
                    <input class="inputentries" type="text" name="cat"><br>
                    <input class="inputbuttons" type="submit" value="add" style="margin-top: 5px">
                </form>
            Remove Category
                <form action="remove_cat" method="post">
                    {% csrf_token %}
                    <select class="inputentries" name="category" required>
                        {% for cat in category %}
                        <option value="{{cat}}">{{cat}}</option>
                        {% endfor %}
                    </select><br>
                    <input class="inputbuttons" type="submit" value="remove" style="margin-top: 5px" onclick="return confirm('Are you sure?')">
                </form>
                <hr style="margin: 20px 0px 20px 0px; border: 1px solid lightgrey">
            </div>
            Add monthly limit
            <form action="add_monthly" method="post">
                {% csrf_token %}
                <input class="inputentries" type="number" name="monthly" min="0" step="1" value="{{monthly}}"><br>
                <input class="inputbuttons" type="submit" value="add" style="margin-top: 5px">
            </form>
            <hr style="margin: 20px 0px 20px 0px; border: 1px solid lightgrey">
            Import from .csv
            <form action="import_csv" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file-upload" class="inputentries" style="cursor: pointer; font-size:15px">Click here to select file</label>
                <input id="file-upload" type="file" name="csv_file" accept=".csv" required>
                <br>
                <input class="inputbuttons" type="submit" value="import" style="margin-top: 5px">
            </form>
        </div>
        <div style="max-width: 200px; color: red">
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        <div style="margin-left: 5vw">
            
            <div style="width: 65vw; ">
            <div style="box-shadow: 0px 10px 15px -4px lightgrey">
                <table class="table" style="text-align: center">
                    <form action="add_data" method="post">
                        {% csrf_token %}
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>
                                <input class="inputentries" type="date" name="date" required>
                            </td>
                            <td>
                                <select class="inputentries" name="category" required>
                                    {% if not category|length %}
                                        <option disabled selected value>add a category</option>
                                    {% endif %}
                                    {% for cat in category %}
                                        <option value="{{cat}}">{{cat}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input class="inputentries" style ="text-align: right" type="number" name="price" min="0.01" step="0.01" value="0.00" required>
                            </td>
                            <td>
                                <input class="inputentries" type="text" name="notes" placeholder="Enter notes here">
                                <input class="inputbuttons" type="submit" value="add" style="margin-top: 5px">
                            </td>                                                
                        </tr>
                    </form>
                </table>
            </div>
            {% if data %}
            <h4>Last added entries</h4>
            <div style="box-shadow: 0px 10px 15px -4px lightgrey">
                <table class="table" style="text-align: center">
                    {% for dat in data %}
                        <tr>
                            <td>{{dat.date|date:'d.m.Y'}}</td>
                            <td>{{dat.category}}</td>
                            <td style="text-align: right">{{dat.price_b|floatformat:2}} €</td>
                            <td>{{dat.notes}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}