{% extends "base_loggedin.html" %}

{%block content %}
<div style="display: flex">
    <div style="margin-left: 5vw">
        <div style="border: 0px solid lightgrey; padding: 15px; box-shadow: 0px 10px 15px -4px lightgrey">
            <form action="/graphs/" method="post">
                {% csrf_token %}
                <div>From<br><input type="date" name="date1" value="{{start}}" required></div>
                <div>To<br><input type="date" name="date2" value="{{end}}" required></div>
                <div><input type="submit" value="filter" style="margin-top: 5px"></div>
            </form>
        </div>
    </div>
    <div style="margin-left: 10vw">
        <div>
            <div>
                <div style="height: 20vh; width: 51vw; margin-bottom: 20vh">
                    <embed style="box-shadow: 0px 10px 15px -4px lightgrey" type="image/svg+xml" src = "{{line_chart_data|safe}}">
                </div>
            </div>
            <div style="display: flex; flex-direction: row">
                <div style="height: 20vh; width: 25vw;">
                    <embed style="box-shadow: 0px 10px 15px -4px lightgrey" type="image/svg+xml" src = "{{bar_chart_data|safe}}">
                </div>
                <div style="height: 20vh; width: 25vw; margin-left: 1vw">
                    <embed style="box-shadow: 0px 10px 15px -4px lightgrey" type="image/svg+xml" src = "{{cat_chart_data|safe}}">
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}