{% extends "base.html" %}

{% block content %}
<form action="confirm_register" method="post">
    {%csrf_token%}
        <input class="inputentries" type="text" name="username" placeholder="Username" style="margin-top: 10px;" required><br>
        <input class="inputentries" type="password" name="password1" placeholder="Password" style="margin-top: 10px;" required><br>
        <input class="inputentries" type="password" name="password2" placeholder="Confirm password" style="margin-top: 10px;" required><br>
        <input class="inputbuttons" type="submit" value="Register"><br><br>
</form>
<div style="position: absolute;">
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
{% endblock %}